.cont {
    display: none;;
}
.font_b {
    font-family:SC_b;
}

.font_m {
    font-family: SC_m;
}

.font_r {
    font-family: SC_r;
}
.inlineBlock{
    display: inline-block;
}
.title {
    display: inline-block;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}
.number {
    font-size: 1.2rem;
    color: #00f;
}
#my_profile {
    width: 1400px;
    margin: 0 auto;
    padding: 120px 0;
}

#profilePic {
    width:250px;
    height:250px;
    border-radius: 100%;
    background: #ccc;
    position: relative;
    margin: 0 auto;
}

#profilePic:before {
    content: '이미지';
    color: #fff;
    position: absolute;
    margin: 50%;
    transform: translate(-50%,-50%);
}
h3 {
    font-size: 1.4rem;
    margin: 20px;
    text-align: center;
}

input[type='radio']{
    display: none;
}
#tabmenu {
    width: 1400px;
    margin: 0 auto;
}
#tabmenu label {
    display: block;
    width: 279px;
    text-align: center;
    float: left;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    padding: 30px 0;
    border-right: 1px solid #ccc;
}

#tabmenu label:last-of-type{
    border-right: none;
    width: 280px;
}

#tabmenu> input:checked + label {
    background: #f5e85b;
}

#tabmenu> input:checked + label .title{
    font-family: SC_b;
    color: #fff;
}
#tabmenu input:checked + label .number{
    font-family: SC_m;
    color: #f00;
}

.recipe_list {
	width: 100%;
}

.recipe_list li {
	width: 318px;
	height: 410px;
	border-radius: 10px;
	border: 1px solid #ccc;
	float: left;
	margin: 40px 40px 0 0;
}

.recipe_list li>a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.recipe_list li a div {
	text-align: left;
}

.recipe_list li:nth-child(4n) {
	margin-right: 0;
}
.reco_img {
	width: 298px;
	height: 250px;
	display: inline-block;
	margin: 10px;
	overflow: hidden;
	border-radius: 10px;
}

.recipe_img {
	height: 120%;
	margin-left: 50%;
	transform: translatex(-50%);
	margin-left: 50%;
}

.introduce {
	font-family: SC_b;
	font-size: 1.6rem;
	margin: 10px;
	color: #333;
	position: relative;
}

.title {
	word-break: keep all;
}

.cooker {
	font-size: 1.3rem;
	color: #666;
	word-break: keep all;
}

.lv_time {
	height: 40px;
	position: relative;
	text-align: center;
}

.lv_time img {
	width: 25px;
	margin: 0 10px;
	top: 10px;
	float: left;
}

.lv_time span {
	font-family: SC_b;
	font-size: 1.2rem;
	color: #333;
	margin: 0 5px;
	float: left;
}

/* page_nav */
#page_nav {
	width: 522px;
	height: 50px;
	margin: 0 auto;
}

.prev, .next {
	display: inline-block;
	width: 40px;
	height: 40px;
	position: relative;
}

.prev:before, .next:before, .prev:after, .next:after {
	content: '';
	display: block;
	width: 22px;
	height: 5px;
	background: #333;
	position: absolute;
	border-radius: 8px;
}

.prev:before {
	transform: rotate(-45deg);
	top: 27%;
	left: 17%
}

.prev:after {
	transform: rotate(45deg);
	bottom: 27%;
	left: 17%
}

.next:before {
	transform: rotate(45deg);
	top: 27%;
	right: 17%;
}

.next:after {
	transform: rotate(-45deg);
	bottom: 27%;
	right: 17%;
}

#page_nav li {
	float: left;
	width: 40px;
	height: 40px;
	border: 3px solid #f5e85b;
	text-align: center;
	margin: 100px 10px;
	color: #333;
	font-size: 1.6rem;
	cursor: pointer;
}

#page_nav li span {
	display: inline-block;
	margin: 1px 0 0;
}

.act {
	background: #f5e85b;
	color: #fff !important;
	font-family: SC_b;
}

input[id='myR']:checked ~ #cont1 {
    display: block;
}
input[id='myF']:checked ~ #cont2 {
    display: block;
}
input[id='myFr']:checked ~ #cont3 {
    display: block;
}
input[id='cart']:checked ~ #cont4 {
    display: block;
}
input[id='delivery']:checked ~ #cont5 {
    display: block;
}

#cont4 {
    position: absolute;
    width: 1400px;
    height: 280px;
    top: 610px;
}
#cont4> input{
    position: absolute;
    width: 20px;
    height: 20px;
    top:115px;
    left: 140px;
}
#cont4 label {
    position: absolute;
    left: 250px;
    height: 280px;
}
#cont4 img {
    height: 230px;
    margin:25px 0;
    border-radius: 20px;
}
#cont4 label{
    border: none !important;
    padding: 0 !important;
}

.prd_des {
    display: inline-block;
    width: 400px;
    text-align: left;
    position: absolute;
    margin-left: 15px;
    top: 35px;
}

.prd_brand{
    font-family: SC_m;
    font-size: 2rem;
}

.prd_title{
    font-family: SC_m;
    font-size: 2.4rem;
}

/* 수량 및 계산 */
.quantity{
    width: 200px;
    height: 50px;
    border: 1px solid #ccc;
    margin:0;
    position: absolute;
    top: 160px;
    left: 260px;
}
.quantity input[type='button']{
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border: none;
    position: absolute;
}
.quantity input[value=' - ']{
    left: 0;
}
.quantity input[value=' + ']{
    left:150px;
}
.quantity input[name='amount']{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 50px;
    text-align: center;
    border: none;
}
form input[name='sum']{
    width: 200px;
    height: 50px;
    border: none;
    font-family: SC_b;
    font-size: 1.6rem;
    color: #f00;
    text-align: center;
}
#sum {
    position: absolute;
    top: 160px;
    left: 800px;
}
#sum span {
    position: absolute;
    right: -46px;
    font-family: SC_b;
    font-size: 1.8rem;
}
#pay {
    width: 250px;
    padding: 10px 0;
    color: #fff;
    font-size: 2.2rem;
    font-family: SC_b;
    border: none;
    border-radius: 10px;
    background: #f00;
    position: absolute;
    left: 800px;
}