@media screen and (max-width: 1920px) {
	#tnb {
		font-size: 1rem;
	}
	#gnb {
		font-size: 3rem;
	}
	@media screen and (max-width: 1882px) {
		#tnb {
			font-size: 1rem;
		}
		#gnb {
			font-size: 2.8rem;
		}
	}
	@media screen and (max-width: 1690px) {
		#tnb {
			font-size: 0.78rem;
		}
		#gnb {
			font-size: 2.6rem;
		}
	}
	@media screen and (max-width: 1497px) {
		#tnb {
			font-size: 0.68rem;
		}
		#gnb {
			font-size: 2.4rem;
		}
	}
	@media screen and (max-width: 1366px) {
		#slide ul li {
			background-size: 50%;
		}
		.description_odd, .description_even {
			position: absolute;
			top: 33%;
			position: fixed;
			width: 300px;
			text-align: center;
			font-family: 'InkLipquid';
		}
		.description_odd, .description_even {
			opacity: 0;
			padding: 1% 0;
			background: rgba(255, 255, 255, 0.8);
			border-radius: 50px;
		}
		.description_odd {
			right: 45px;
		}
		.description_even {
			right: 775px;
		}
		#hot_re h3 {
			font-size: 1.4rem;
		}
		#hot_re h3:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 8%;
			padding: 0 15px;
			left: -15px;
			top: 48%;
			border-radius: 80px;
		}
	}
	@media screen and (max-width: 1306px) {
		#tnb {
			
		}
		#gnb {
			
		}
	}
	@media screen and (max-width: 1200px) {
		#tnb {
			
		}
		#gnb {
			
		}
	}
	@media screen and (max-width: 1000px) {
		#tnb {
			
		}
		#gnb {
			
		}
	}
	@media screen and (max-width: 800px) {
		#tnb {
			
		}
		#gnb {
			
		}
	}
	@media screen and (max-width: 500px) {
		#tnb {
			
		}
		#gnb {
			
		}
	}
	@media
	screen
	and
	(max-width:1024px)
	{
}

@media screen and (max-width:768px) {
}

@media screen and (min-width:320px) and (max-width:480px) {
}
}